/* цвет текста (nav) #212121 */
/* цвет основного текста (contacts i p) #757575 */
/* цвет лого-ховера-активной ссылки (акцент цвет)- #2196F3, #000000, */
/* цвет заголовков - #212121 */
/* цвет фона вторичный (наша команда) - #F5F4FA */
/* цвет адресса в футере - #FFFFFF */
/* цвет контактов в футере - rgba(255, 255, 255, 0.6) */
/* цвет фона в футере - #2F303A */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-second-part-header-text-color: #000000;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --email-tel-footer-color: rgba(255, 255, 255, 0.6);
  --bg-footer-color: #2f303a;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);
  font-family: ;
  font-size: ;
}

/* Стили для index.html */

ul {
  list-style: none;
}

/* Лого WebStudio */

.web-logo {
  color: var(--accent-color);
}

.studio-logo {
  color: var(--logo-second-part-header-text-color);
}

.logo {
  text-decoration: none;
}

/* Site-nav */

.site-nav .link {
  color: var(--title-text-color);
}

.contacts-list .contact {
  color: var(--primary-text-color);
}

.site-nav .link,
.contacts-list .contact {
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts-list .contact:hover,
.contacts-list .contact:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Стили для portfolio.html */

.work-button .button {
  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.work-button .button:hover,
.work-button .button:focus {
  background: var(--accent-color);
  color: var(--primary-bg-color);
}
